<a name="<%=obj.id%>"></a>
<div class="cmp_detail_formation">

  <div class="sous_detail">
       <div class="duree">
         <p><span class="titre_detail"><strong>Durée :</strong></span><%=formation.duree%> jours</p>
        </div>
        <div class="public_cible">
          <p class="titre"><span class="titre_detail"><strong>Public cible :</strong></span></p>
          <div class="contenue">
          <%=formation.public_cible%>
            </div>
        </div>
        <div class="tarif">
          <p><span class="titre_detail"><strong>Tarif</strong> </span>: <%=formation.tarif%> DH </p>

        </div>


  </div>




</div>
