/*
h1, h2, h3, h4 {
    clear: both;
    font-family: 'FertigoProRegular', Georgia, Arial, sans-serif;
    margin: 7px 0px;
    text-shadow: 0px 1px 1px #666;
}

h1 {
    font-size: 17px;
}

h2 {
    font-size: 17px;
}

h3, h4 {
    font-size: 16px;
}

h1 a, h3 a, h1 a:visited, h3 a:visited  {
	color: #4466aa;
	text-decoration: none;
}
h1 a:hover, h3 a:hover {
	color: #0A4E97;
	text-decoration: underline;
}

h2 a, h2 a:visited  {
	color: #6B030B;
	text-decoration: underline;
}
h2 a:hover {
	color: #000000;
	text-decoration: none;
	}


h3 a, h3 a:visited {
	color: #FFF;
	text-decoration: none;
}
h6 {
	color: #000;
	font-size: 24px;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;;
	font-weight: normal;
	padding: 10px 0px;
	line-height: 150%;
	margin: 0px;
}

*/








