<a name="<%=obj.id%>"></a>
<div class="cmp_commentaire_face_book">

  <div class="like">
  <iframe src="http://www.facebook.com/plugins/like.php?href=<%=obj.texte%>"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
        
  </div>

  <div class="fb-comments" data-href="<%=obj.texte%>" data-width="700" data-num-posts="10"></div>
</div>

