<style>
  li{
    margin: 5px;
}

</style>
<ul>
  <li><a href="/admin/composants_existant_manager">Gestion des Composants</a></li>
  <li><a href="/admin/article_type_manager">Gestion des Articles Types</a></li>
  <li><a href="/admin/packs_manager">Gestion des Packs</a></li>
  <li><a href="/admin/categories_manager?t=img">Gestions des Categorie Photo</a></li>

</ul>
