<% content_for :style  do   %>
    <%=stylesheet_link_tag "themes/public_sys/articles/bar_menu_detail_formation" %>
<% end %>
<a name="<%=obj.id%>"></a>
<div class="bar_menu_detail_formation">
  <nav class="tabs">
	<div class="wrap">
                <!--
		<a href="#sommaire" class="iconic iconic-home active">Sommaire</a>
                
		<a href="#comment" class="iconic iconic-comment">Commentaires</a>
                -->
	</div>
</nav>
</div>
