 <div id="<%=id_menu%>" class="cmp_menu style1">
  <ul>
  <%-liste_lien.each{ |lien| -%>
    <li class="page_item"><a href="<%=lien.lien%>" title="<%=lien.titre%>"><span><%=lien.nom%></span></a></li>
  <%-}-%>
  </ul>
</div>