/* 
    Document   : cmp_presentation_video_formation
    Created on : 
    Author     : Fouad
    Description: Composant Atomique cmp_presentation_video_formation
      
*/

.cmp_presentation_video_formation{
    
}
