/* 
    Document   : cmp_slider_presentation
    Created on : 
    Author     : Fouad
    Description: Composant Atomique cmp_slider_presentation
      
*/

.cmp_slider_presentation{
    width: 520px;
}
