  div.action span.editer_fr{
  background: url(images/flag_fr_p.png) no-repeat;

}
  div.action span.editer_en{
  background: url(images/flag_en_p.png) no-repeat;
}

 div.action span.editer_es{
  background: url(images/flag_es_p.png) no-repeat;
}
