.layout2c{
    float: left;
min-height: 440px;
     width: 800px;
     margin-top: 30px;
}

.header_zone {
 width: 800px;
 float: left;
 margin: 0px 0px 0px 0px;
 
}
.leftcolumn_zone {
 margin: 1px 1px 0px 0px;
width: 540px;
 float: left;
}
.leftcolumn_zone .article{
margin-right: 15px;
    
}
.rightcolumn_zone {
 float: right;
 margin: 1px 0px 0px 0px;
 width: 255px;

 display: inline;
}
.footer_zone {
 width: 825px;
 clear: both;
 margin: 1px 0px 0px 0px;
 float: left;
}
