<h1>Bienvenue chez Manarati.net !</h1>


<h3> 1 - Pour rentrer sur votre site web comme Administrateur , la page de connexion est là</h3>

<p>
  <a target="_blank" href="http://<%=nom_site%>.manarati.net/user_session/new">
    http://<%=nom_site%>.manarati.net/manarati
  </a>
</p>
     <ul style="color: red">
        <li>Login : <strong> admin</strong></li>
        <li>Mot de passe : <strong>admin</strong></li>
      </ul>

<h3>2 - Pour rentrer sur votre Espace Membre sur www.manarati.net, la page de connexion est :</h3>


<p>
<a target="_blank"  href="http://www.manarati.net/user_session/new" >http://www.manarati.net/user_session/new</a>
</p>
     <ul>
       <li>Login : <%=login%></li>
        <li>Mot de passe : ****** </li>
      </ul>
 <p>
   Le mot de passe de votre compte est personnel.
     Aussi, conservez-le soigneusement.
</p>
<h3>3- Pour mieux comprendre Manarati.net et ce qui le caractérise</h3>
<p>
     Explorez la page d'accueil: http://www.manarati.net
</p>
<p>
  Le premier site web de votre compte Manarati est un site <strong> Starter gratuit</strong>.
     Vous pouvez le transformer à tout moment en <strong> site Pro </strong>, selon vos besoins.
</p>
 <p> Un <strong> site Starter </strong> pour rester gratuit doit seulement être publier au moins une fois tous les 60 jours.
     La version Pro ne coûte que 100 DH /mois, prix unique pour toutes les fonctions disponibles, sans limites.
  </p>

<p>
    Nous vous souhaitons une très bonne journée.
     </p>