.article_type_1 .data_creation{
border:1px solid;
float:right;
margin:13px 0;
padding:3px;
}
.article_type_1 .titre1{
   float:left;
margin:10px 0;

}
.article_type_1 .paragraphe1{
       float: left;
       clear: both;

}