/* 
    Document   : aa
    Created on : 6 oct. 2012, 08:46:04
    Author     : fouad
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

