<%content_for :style do -%>
<%=stylesheet_link_tag "themes/#{@skin}/admin/gestion/ajouter" %>
<style type="text/css" >
  .cmp_data_grid td{
   padding: 0 6px !important;
}
</style>
<%-end-%>

<div class="ajouter">	
          <div class="formulaire">
          <% form_for :cmp_composants_existant, @cmp_composants_existant, :url => { :action => "update" }, :html => {:class => "formulaire",:multipart => true} do |f| %>
          <%=render :partial=>"admin/composants_existant_manager/partials/form_composant_existant" ,:locals=>{:f=>f}%>
          <div class="submit">
          <%= submit_tag t("update") %>
          </div>
          <% end %>
          </div>
</div>
