<div class="formulaire <%=file_name%>" id="<%%=obj.reference%>">
<label class="titre">
   <%%=t("CmpComposant.<%= file_name.split('_').collect{|s|  s.capitalize }.each {|s| s } %>.titre")%>
</label >
<br></br>
<table>
  <tr>
    <td><label> <%%=t("CmpComposant.<%= file_name.split('_').collect{|s|  s.capitalize }.each {|s| s } %>.texte")%> </label></td>
    <td>
      <input id="<%%=obj.reference%>_texte" type="text" value="<%%=obj.texte%>" name="<%%=obj.reference%>[texte]"></input></td>
  </tr>
</table>
</div>